<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>苏州易捷迅科电子有限公司</title>
    <meta name="keywords" content="苏州易捷迅科电子有限公司"/>
    <meta name="description"
          content="苏州易捷迅科是国内知名的IC产品授权分销商及应用解决方案供应商，拥有专业的技术支持团队和完善的营销网络。公司与全球知名IC设计制造商紧密合作，主要为客户提供IC产品、IC应用解决方案和现场技术支持等多层面服务。主要代理全球著名半导体企业Freescale（NXP)、Infineon、IR、Microchip、Fairchild、Toshiba、MPS、NICHICON产品。"/>
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery.Slide.js"></script>
    <link href="/media/css/espcms_public.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/espcms_v5div.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/slider.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
	$(window).load(function() {
		$("#clickmenubotton li span").hover(function() {
			$(this).addClass("menuhover");
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function() {
				$(this).parent().find("ul.subnav").fadeOut('fast');
				$(this).parent().find("span").removeClass("menuhover");
			});
		});
	});

    </script>
</head>

<body>
<!--<div class="ingbg">
   <div class="ing">
		<ul class="unstyled">
            <li style="float:left"><span style="color:#eee;">服务热线：</span><a href="tel:(86)755-29706681" style="font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#eee;">(86)755-29706681 29706682 </a></li>

		</ul>
    </div>
</div>-->


<div class="espcms_top">
    <div class="espcms_head">
        <div class="logo"><a href="/index.html"><img src="/media/images/logo.png" alt="logo"/></a></div>
        <nav class="uph-nav">
            <ul class="uph-nav_menu">
                <li class="uph-navli" class="hover"><a href="/index.html">首页</a>
                </li>
                <li class="uph-nav_menu-item"><a href="/index.html?ac=article&at=list&tid=1">关于我们</a>
                    <ul class="uph-nav_submenu">
                        <li class="uph-nav_submenu-item"><a title="公司概况"
                                                            href="/index.html?ac=article&at=list&tid=7">公司概况</a></li>
                        <li class="uph-nav_submenu-item"><a title="合作品牌"
                                                            href="/index.html?ac=article&at=list&tid=8">合作品牌</a></li>
                        <li class="uph-nav_submenu-item"><a title="联系我们" href="/index.html?ac=article&at=list&tid=10">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li class="uph-nav_menu-item"><a href="/index.html?ac=article&at=list&tid=3">合作品牌</a>
                    <ul class="uph-nav_submenu">
                        <li class="uph-nav_submenu-item"><a title="微控制器" href="/index.html?ac=article&at=list&tid=50">微控制器</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="功率器件" href="/index.html?ac=article&at=list&tid=51">功率器件</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="电流传感器" href="/index.html?ac=article&at=list&tid=52">电流传感器</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="电源管理" href="/index.html?ac=article&at=list&tid=53">电源管理</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="RTC时钟模组" href="/index.html?ac=article&at=list&tid=54">RTC时钟模组</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="射频器件" href="/index.html?ac=article&at=list&tid=55">射频器件</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="被动器件" href="/index.html?ac=article&at=list&tid=56">被动器件</a>
                        </li>
                    </ul>
                </li>
                <!--    <li class="uph-nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank">Home</a></li>-->
                <li class="uph-nav_menu-item"><a href="/index.html?ac=article&at=list&tid=2">解决方案</a>
                    <ul class="uph-nav_submenu">
                        <li class="uph-nav_submenu-item"><a title="变频家电" href="/index.html?ac=article&at=list&tid=11">变频家电</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="电机控制" href="/index.html?ac=article&at=list&tid=12">电机控制</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="光伏逆变" href="/index.html?ac=article&at=list&tid=13">光伏逆变</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="汽车电子" href="/index.html?ac=article&at=list&tid=14">汽车电子</a>
                        </li>
                        <li class="uph-nav_submenu-item"><a title="增值服务" href="/index.html?ac=article&at=list&tid=64">增值服务</a>
                        </li>
                    </ul>
                </li>
                <!--    <li class="uph-nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank">Home</a></li>-->
                <li class="uph-navli"><a href="/index.html?ac=article&at=list&tid=10">联系我们</a>
                </li>

            </ul>
        </nav>
        <div class="uph-navmin">

            <li>邮箱：Sales@ejoy-tek.com</li>
            <li>电话: 0512-68131705</li>
        </div>
    </div>
</div>


<div class="espcms_slide">
    <div class="bd">
        <ul>
            <li _src="url(/upfile/20170420/20170420181305_471.jpg)" style="background:#eafaff center 0 no-repeat;"><a
                    alt="1" target="_blank" href="http://#"></a></li>
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div>
    <span class="prev"></span>
    <span class="next"></span>
</div>
<script type="text/javascript">
    jQuery(".espcms_slide").hover(function(){ jQuery(this).find(".prev,.next").stop(true,true).fadeTo("show",0.5) },function(){ jQuery(this).find(".prev,.next").fadeOut() });

	jQuery(".espcms_slide").slide({titCell: ".hd ul", mainCell: ".bd ul", effect: "fold", autoPlay: true, autoPage: true, trigger: "click",
		startFun: function(i) {
			var curLi = jQuery(".espcms_slide .bd li").eq(i);
			if (!!curLi.attr("_src")) {

				curLi.css("background-image", curLi.attr("_src")).removeAttr("_src");
			}
		}
	});

</script>

<div class="w_auto" style="padding-bottom:30px;">
    <script src="/media/js/img_hover.js" type="text/javascript"></script><!-- 图片悬浮 -->
    <div class="part-title">
        <p class="inpro_title">解决方案</p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-dotted"/>
    <div class="list_cp">

        <div class="dps">
            <li><img src="http://ejoytek.cn.uphong.com/datacache/pic/275_270_7ee590e21048c486c3d7898e8da07bab.jpg"
                     width="275" height="270" alt="变频家电"/> <a href="/index.html?ac=article&at=read&did=8"
                                                              class="list_cp_info">
                <h3>变频家电</h3>
                <p>变频家电</p>
            </a></li>
            <p><span><a href="/index.html?ac=article&at=read&did=8">变频家电</a></span></p></div>
        <div class="dps">
            <li><img src="http://ejoytek.cn.uphong.com/datacache/pic/275_270_69e825399fb559f0f3146f3c095ec66a.jpg"
                     width="275" height="270" alt="电机控制"/> <a href="/index.html?ac=article&at=read&did=9"
                                                              class="list_cp_info">
                <h3>电机控制</h3>
                <p></p>
            </a></li>
            <p><span><a href="/index.html?ac=article&at=read&did=9">电机控制</a></span></p></div>
        <div class="dps">
            <li><img src="http://ejoytek.cn.uphong.com/datacache/pic/275_270_e842e89ee5feaae87f9574cb1f9b790e.jpg"
                     width="275" height="270" alt="光伏逆变"/> <a href="/index.html?ac=article&at=read&did=10"
                                                              class="list_cp_info">
                <h3>光伏逆变</h3>
                <p>光伏逆变器，功率从500W到50KW</p>
            </a></li>
            <p><span><a href="/index.html?ac=article&at=read&did=10">光伏逆变</a></span></p></div>
        <div class="dps">
            <li><img src="http://ejoytek.cn.uphong.com/datacache/pic/275_270_0b199cc4f4a55245e7077ee7763e3029.jpg"
                     width="275" height="270" alt="汽车电子"/> <a href="/index.html?ac=article&at=read&did=11"
                                                              class="list_cp_info">
                <h3>汽车电子</h3>
                <p></p>
            </a></li>
            <p><span><a href="/index.html?ac=article&at=read&did=11">汽车电子</a></span></p></div>
    </div>
</div>
<div class="footer_page">
    <div class="footer_talbe">

        <dl>
            <dt><a href="/index.html?ac=article&at=list&tid=1" title="关于我们">关于我们</a></dt>
            <dd><a href="/index.html?ac=article&at=list&tid=7" title="公司概况">公司概况</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=8" title="合作品牌">合作品牌</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=10" title="联系我们">联系我们</a></dd>
        </dl>
        <dl>
            <dt><a href="/index.html?ac=article&at=list&tid=3" title="合作品牌">合作品牌</a></dt>
            <dd><a href="/index.html?ac=article&at=list&tid=50" title="微控制器">微控制器</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=51" title="功率器件">功率器件</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=52" title="电流传感器">电流传感器</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=53" title="电源管理">电源管理</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=54" title="RTC时钟模组">RTC时钟模组</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=55" title="射频器件">射频器件</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=56" title="被动器件">被动器件</a></dd>
        </dl>
        <dl>
            <dt><a href="/index.html?ac=article&at=list&tid=2" title="解决方案">解决方案</a></dt>
            <dd><a href="/index.html?ac=article&at=list&tid=11" title="变频家电">变频家电</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=12" title="电机控制">电机控制</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=13" title="光伏逆变">光伏逆变</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=14" title="汽车电子">汽车电子</a></dd>
            <dd><a href="/index.html?ac=article&at=list&tid=64" title="增值服务">增值服务</a></dd>
        </dl>

        <div class="content">
            <dt><a href="/index.html?ac=article&at=list&tid=10" title="联系我们">联系我们</a></dt>
            <dd>地址：苏州市新区滨河路729号1号楼302室</dd>
            <dd>邮箱：Sales@ejoy-tek.com</dd>
            <dd>电话: 0512-68131705</dd>
            <!--<dt class="subscription">
                <form name="inviteform" method="post" action="/index.html?ac=public&at=invite" class="am-form am-form-horizontal">
                <input type="hidden" name="mlvid" value="1">
                <input type="hidden" name="lng" value="cn">

  <div class="am-form-inline">
<div class="am-form-group">
      <input id="email" name="email" type="text" class="am-form-field" placeholder="输入你的电子邮件">
   </div> <input name="submitsearch" type="submit" class="am-btn am-btn-primary" value="提交订阅" />
  </div>
</form>
            </dt>-->
        </div>
    </div>

</div>

<div class="uph-footer">
    <div class="uph-foot">
        <nav>
            <a title="关于我们" href="/index.html?ac=article&at=list&tid=1">关于我们</a>
            <span>|</span> <a title="联系我们" href="/index.html?ac=article&at=list&tid=10">联系我们</a>

        </nav>
        <div class="CopyRight">版权所有©苏州易捷迅科电子有限公司 &nbsp;&nbsp;技术支持：<a class="infolink02" target="_blank"
                                                                     href="http://www.uphong.com/">壹品红</a></div>
    </div>
</div>
<!-- <footer data-am-widget="footer"
         class="am-footer am-footer-media"
          data-am-footer="{  }">
   <div class="am-footer-switch">
   <span class="am-footer-ysp" data-rel="mobile"
         data-am-modal="{target: '#am-switch-mode'}">
         云适配版
   </span>
     <span class="am-footer-divider"> | </span>
     <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
         电脑版
     </a>
   </div>
   <div class="am-footer-miscs ">

         <p>由 <a href="http://www.yunshipei.com/" title="诺亚方舟"
                                               target="_blank" class="">诺亚方舟</a>
           提供技术支持</p>
       <p>CopyRight©2014  AllMobilize Inc.</p>
       <p>京ICP备13033158</p>
   </div>
 </footer>

 <div id="am-footer-modal"
      class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-media">
   <div class="am-modal-dialog">
     <div class="am-modal-hd am-modal-footer-hd">
       <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
     </div>
     <div class="am-modal-bd">
         您正在浏览的是

       <span class="am-switch-mode-owner">
           云适配
       </span>

       <span class="am-switch-mode-slogan">
             为您当前手机订制的移动网站。
       </span>
     </div>
   </div>
 </div>-->
<script type="text/javascript" src="http://ejoytek.cn.uphong.com/index.html?ac=scriptout&at=im&wxid=1"></script>

</body>
</html>